<h1>Привет дружище!</h1>

<p class="help_text">
Чтобы стать компьютерщиком, тебе потребуется компьютер и софт ;)
</p>


<a class="big_button" href="javascript:load_data('hard')">► Покупка и апгрейд железа</a>
<a class="big_button" href="javascript:load_data('soft')">► Установка софта</a>
<a class="big_button" href="javascript:load_data('job')">► Поискать работу</a>

<a class="big_button" href="/torrents/">► Файлообмен</a>
<a class="big_button" href="/hacking/">► Хакинг</a>
<a class="big_button" href="/relax/">► Развлечения</a>

<p class="help_text">
На заметку: без антивируса и фаервола - вы легкая мишень для вирусов и хакеров.
А игрушки здорово помогают поднять настроение ;-)
</p>
